<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestNg Example">

    <test name="Smoke Test" preserve-order="false">
        <classes>
            <class name="CucumberRunner">
<!--                <methods>-->
<!--                    <include name="signUpSuccess" />-->
<!--                    <include name="signUpWrongEmail" />-->
<!--                    <include name="signUpEmptyCredentials" />-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="HomePageTests">-->
<!--                <methods>-->
<!--                    <include name="GetVerifiedTest" />-->
<!--                </methods>-->
            </class>

        </classes>
    </test>
</suite>